# packages in environment at C:\Users\nursy\anaconda3\envs\topic_env:
#
# Name                    Version                   Build  Channel
abseil-cpp                20211102.0           hd77b12b_0    anaconda
aiohttp                   3.8.5           py310h2bbff1b_0    anaconda
aiosignal                 1.2.0              pyhd3eb1b0_0    anaconda
altair                    5.0.1           py310haa95532_0    anaconda
annotated-types           0.7.0              pyhd8ed1ab_0    conda-forge
arrow-cpp                 11.0.0               ha81ea56_2    anaconda
asttokens                 2.0.5              pyhd3eb1b0_0    anaconda
async-timeout             4.0.2           py310haa95532_0    anaconda
attrs                     23.1.0          py310haa95532_0    anaconda
aws-c-common              0.6.8                h2bbff1b_1    anaconda
aws-c-event-stream        0.1.6                hd77b12b_6    anaconda
aws-checksums             0.1.11               h2bbff1b_2    anaconda
aws-sdk-cpp               1.8.185              hd77b12b_1    anaconda
babel                     2.11.0          py310haa95532_0    anaconda
backcall                  0.2.0              pyhd3eb1b0_0    anaconda
bertopic                  0.16.2             pyhd8ed1ab_0    conda-forge
blas                      1.0                         mkl    anaconda
blinker                   1.6.2           py310haa95532_0    anaconda
blis                      0.7.11                   pypi_0    pypi
boost-cpp                 1.82.0               h59b6b97_2    anaconda
bottleneck                1.3.5           py310h9128911_0    anaconda
brotli                    1.0.9                h2bbff1b_7    anaconda
brotli-bin                1.0.9                h2bbff1b_7    anaconda
brotli-python             1.0.9           py310hd77b12b_7    anaconda
bzip2                     1.0.8                he774522_0    anaconda
c-ares                    1.19.1               h2bbff1b_0    anaconda
ca-certificates           2024.7.4             h56e8100_0    conda-forge
cachetools                4.2.2              pyhd3eb1b0_0    anaconda
catalogue                 2.0.10          py310h5588dad_0    conda-forge
certifi                   2024.7.4        py310haa95532_0    anaconda
cffi                      1.16.0          py310h2bbff1b_0    anaconda
charset-normalizer        2.0.4              pyhd3eb1b0_0    anaconda
click                     8.1.7           py310haa95532_0    anaconda
cloudpathlib              0.18.1             pyhd8ed1ab_0    conda-forge
colorama                  0.4.6           py310haa95532_0    anaconda
comm                      0.1.2           py310haa95532_0    anaconda
confection                0.1.5                    pypi_0    pypi
contourpy                 1.0.5           py310h59b6b97_0    anaconda
cryptography              41.0.3          py310h89fc84f_0    anaconda
cycler                    0.11.0             pyhd3eb1b0_0    anaconda
cymem                     2.0.8           py310h00ffb61_1    conda-forge
cython                    0.29.36         py310h2bbff1b_0    anaconda
cython-blis               0.7.10          py310h3e78b6c_2    conda-forge
datasets                  2.12.0          py310haa95532_0    anaconda
debugpy                   1.6.7           py310hd77b12b_0    anaconda
decorator                 5.1.1              pyhd3eb1b0_0    anaconda
dill                      0.3.6           py310haa95532_0    anaconda
en-core-web-sm            3.7.1                    pypi_0    pypi
exceptiongroup            1.0.4           py310haa95532_0    anaconda
executing                 0.8.3              pyhd3eb1b0_0    anaconda
filelock                  3.9.0           py310haa95532_0    anaconda
fonttools                 4.25.0             pyhd3eb1b0_0    anaconda
freetype                  2.12.1               ha860e81_0    anaconda
frozenlist                1.4.0           py310h2bbff1b_0    anaconda
fsspec                    2023.9.2        py310haa95532_0    anaconda
gensim                    4.3.0           py310h4ed8f06_0    anaconda
gflags                    2.2.2                ha925a31_0    anaconda
giflib                    5.2.1                h8cc25b3_3    anaconda
gitdb                     4.0.7              pyhd3eb1b0_0    anaconda
gitpython                 3.1.37          py310haa95532_0    anaconda
glog                      0.5.0                hd77b12b_0    anaconda
grpc-cpp                  1.48.2               hfe90ff0_1    anaconda
hdbscan                   0.8.36          py310h4df5e4a_0    conda-forge
huggingface-hub           0.24.6                   pypi_0    pypi
icc_rt                    2022.1.0             h6049295_2    anaconda
icu                       73.1                 h6c2663c_0    anaconda
idna                      3.4             py310haa95532_0    anaconda
importlib-metadata        6.0.0           py310haa95532_0    anaconda
intel-openmp              2023.1.0         h59b6b97_46320    anaconda
ipykernel                 6.25.0          py310h9909e9c_0    anaconda
ipython                   8.15.0          py310haa95532_0    anaconda
ipywidgets                8.0.4           py310haa95532_0    anaconda
jedi                      0.18.1          py310haa95532_1    anaconda
jinja2                    3.1.2           py310haa95532_0    anaconda
joblib                    1.2.0           py310haa95532_0    anaconda
jpeg                      9e                   h2bbff1b_1    anaconda
jsonschema                4.19.2          py310haa95532_0    anaconda
jsonschema-specifications 2023.7.1        py310haa95532_0    anaconda
jupyter_client            8.6.0           py310haa95532_0    anaconda
jupyter_core              5.5.0           py310haa95532_0    anaconda
jupyterlab_widgets        3.0.9           py310haa95532_0    anaconda
kiwisolver                1.4.4           py310hd77b12b_0    anaconda
krb5                      1.20.1               h5b6d351_1    anaconda
langcodes                 3.4.0              pyhd8ed1ab_0    conda-forge
language-data             1.2.0              pyhd8ed1ab_0    conda-forge
lerc                      3.0                  hd77b12b_0    anaconda
libboost                  1.82.0               h3399ecb_2    anaconda
libbrotlicommon           1.0.9                h2bbff1b_7    anaconda
libbrotlidec              1.0.9                h2bbff1b_7    anaconda
libbrotlienc              1.0.9                h2bbff1b_7    anaconda
libclang                  14.0.6          default_hb5a9fac_1    anaconda
libclang13                14.0.6          default_h8e68704_1    anaconda
libcurl                   7.88.1               h86230a5_2    anaconda
libdeflate                1.17                 h2bbff1b_1    anaconda
libevent                  2.1.12               h56d1f94_1    anaconda
libffi                    3.4.4                hd77b12b_0    anaconda
libpng                    1.6.39               h8cc25b3_0    anaconda
libpq                     12.15                h906ac69_1    anaconda
libprotobuf               3.20.3               h23ce68f_0    anaconda
libsodium                 1.0.18               h62dcd97_0    anaconda
libssh2                   1.10.0               he2ea4bf_2    anaconda
libthrift                 0.15.0               h4364b78_2    anaconda
libtiff                   4.5.1                hd77b12b_0    anaconda
libuv                     1.44.2               h2bbff1b_0    anaconda
libwebp                   1.3.2                hbc33d0d_0    anaconda
libwebp-base              1.3.2                h2bbff1b_0    anaconda
llvmlite                  0.41.0          py310hf2fb9eb_0    anaconda
lz4-c                     1.9.4                h2bbff1b_0    anaconda
marisa-trie               1.2.0                    pypi_0    pypi
markdown-it-py            2.2.0           py310haa95532_1    anaconda
markupsafe                2.1.1           py310h2bbff1b_0    anaconda
matplotlib                3.8.0           py310haa95532_0    anaconda
matplotlib-base           3.8.0           py310h4ed8f06_0    anaconda
matplotlib-inline         0.1.6           py310haa95532_0    anaconda
mdurl                     0.1.0           py310haa95532_0    anaconda
mkl                       2023.1.0         h6b88ed4_46358    anaconda
mkl-service               2.4.0           py310h2bbff1b_1    anaconda
mkl_fft                   1.3.8           py310h2bbff1b_0    anaconda
mkl_random                1.2.4           py310h59b6b97_0    anaconda
mpmath                    1.3.0           py310haa95532_0    anaconda
multidict                 6.0.2           py310h2bbff1b_0    anaconda
multiprocess              0.70.14         py310haa95532_0    anaconda
munkres                   1.1.4                      py_0    anaconda
murmurhash                1.0.10          py310h00ffb61_1    conda-forge
nest-asyncio              1.5.6           py310haa95532_0    anaconda
networkx                  3.1             py310haa95532_0    anaconda
ninja                     1.10.2               haa95532_5    anaconda
ninja-base                1.10.2               h6d14046_5    anaconda
nltk                      3.9.1           py310haa95532_0    anaconda
numba                     0.58.1          py310hd77b12b_0  
numexpr                   2.8.7           py310h2cd9be0_0    anaconda
numpy                     1.26.4          py310h055cbcc_0  
numpy-base                1.26.4          py310h65a83cf_0  
openjpeg                  2.4.0                h4fc8c34_0    anaconda
openssl                   3.3.1                h2466b09_1    conda-forge
orc                       1.7.4                h623e30f_1    anaconda
packaging                 23.1            py310haa95532_0    anaconda
pandas                    2.1.1           py310h4ed8f06_0    anaconda
parso                     0.8.3              pyhd3eb1b0_0    anaconda
patsy                     0.5.3           py310haa95532_0    anaconda
pickleshare               0.7.5           pyhd3eb1b0_1003    anaconda
pillow                    9.4.0           py310hd77b12b_1    anaconda
pip                       23.3            py310haa95532_0    anaconda
platformdirs              3.10.0          py310haa95532_0    anaconda
plotly                    5.9.0           py310haa95532_0    anaconda
plotly_express            0.4.1                      py_0    conda-forge
ply                       3.11            py310haa95532_0    anaconda
preshed                   3.0.9           py310h00ffb61_1    conda-forge
prompt-toolkit            3.0.36          py310haa95532_0    anaconda
protobuf                  3.20.3          py310hd77b12b_0    anaconda
psutil                    5.9.0           py310h2bbff1b_0    anaconda
pure_eval                 0.2.2              pyhd3eb1b0_0    anaconda
pyarrow                   11.0.0          py310h790e06d_1    anaconda
pycparser                 2.21               pyhd3eb1b0_0    anaconda
pydantic                  2.8.2              pyhd8ed1ab_0    conda-forge
pydantic-core             2.20.1          py310hc226416_0    conda-forge
pydeck                    0.8.0              pyhd8ed1ab_0    conda-forge
pygments                  2.15.1          py310haa95532_1    anaconda
pympler                   0.9                        py_0    anaconda
pynndescent               0.5.10          py310haa95532_0    anaconda
pyopenssl                 23.2.0          py310haa95532_0    anaconda
pyparsing                 3.0.9           py310haa95532_0    anaconda
pyqt                      5.15.10         py310hd77b12b_0    anaconda
pyqt5-sip                 12.13.0         py310h2bbff1b_0    anaconda
pysocks                   1.7.1           py310haa95532_0    anaconda
python                    3.10.13              he1021f5_0    anaconda
python-dateutil           2.8.2              pyhd3eb1b0_0    anaconda
python-tzdata             2023.3             pyhd3eb1b0_0    anaconda
python-xxhash             2.0.2           py310h2bbff1b_1    anaconda
python_abi                3.10                    2_cp310    conda-forge
pytorch                   2.1.0           cpu_py310hb0bdfb8_0    anaconda
pytz                      2023.3.post1    py310haa95532_0    anaconda
pywin32                   305             py310h2bbff1b_0    anaconda
pyyaml                    6.0.1           py310h2bbff1b_0    anaconda
pyzmq                     25.1.0          py310hd77b12b_0    anaconda
qt-main                   5.15.2              h19c9488_10    anaconda
re2                       2022.04.01           hd77b12b_0    anaconda
referencing               0.30.2          py310haa95532_0    anaconda
regex                     2023.10.3       py310h2bbff1b_0    anaconda
requests                  2.31.0          py310haa95532_0    anaconda
responses                 0.13.3             pyhd3eb1b0_0    anaconda
rich                      13.3.5          py310haa95532_0    anaconda
rpds-py                   0.10.6          py310h062c2fa_0    anaconda
safetensors               0.4.4                    pypi_0    pypi
scikit-learn              1.3.0           py310h4ed8f06_0    anaconda
scipy                     1.11.3          py310h309d312_0    anaconda
sentence-transformers     3.0.1              pyhd8ed1ab_0    conda-forge
sentencepiece             0.1.99          py310h59b6b97_0    anaconda
setuptools                68.0.0          py310haa95532_0    anaconda
shellingham               1.5.4              pyhd8ed1ab_0    conda-forge
sip                       6.7.12          py310hd77b12b_0    anaconda
six                       1.16.0             pyhd3eb1b0_1    anaconda
smart_open                5.2.1           py310haa95532_0    anaconda
smmap                     4.0.0              pyhd3eb1b0_0    anaconda
snappy                    1.1.9                h6c2663c_0    anaconda
spacy                     3.7.5           py310hc19bc0b_0    conda-forge
spacy-legacy              3.0.12             pyhd8ed1ab_0    conda-forge
spacy-loggers             1.0.5              pyhd8ed1ab_0    conda-forge
sqlite                    3.41.2               h2bbff1b_0    anaconda
srsly                     2.4.8           py310h00ffb61_1    conda-forge
stack_data                0.2.0              pyhd3eb1b0_0    anaconda
statsmodels               0.14.0          py310h9128911_0    anaconda
streamlit                 1.36.0             pyhd8ed1ab_0    conda-forge
sympy                     1.11.1          py310haa95532_0    anaconda
tbb                       2021.8.0             h59b6b97_0    anaconda
tenacity                  8.2.2           py310haa95532_0    anaconda
thinc                     8.2.5                    pypi_0    pypi
threadpoolctl             2.2.0              pyh0d69192_0    anaconda
tk                        8.6.12               h2bbff1b_0    anaconda
tokenizers                0.19.1                   pypi_0    pypi
toml                      0.10.2             pyhd3eb1b0_0    anaconda
tomli                     2.0.1           py310haa95532_0    anaconda
toolz                     0.12.0          py310haa95532_0    anaconda
torchvision               0.15.2          cpu_py310h7187fe4_0    anaconda
tornado                   6.3.3           py310h2bbff1b_0    anaconda
tqdm                      4.65.0          py310h9909e9c_0    anaconda
traitlets                 5.7.1           py310haa95532_0    anaconda
transformers              4.44.2                   pypi_0    pypi
typer                     0.9.4              pyhd8ed1ab_0    conda-forge
typing-extensions         4.7.1           py310haa95532_0    anaconda
typing_extensions         4.7.1           py310haa95532_0    anaconda
tzdata                    2023c                h04d1e81_0    anaconda
tzlocal                   2.1             py310haa95532_1    anaconda
ucrt                      10.0.20348.0         haa95532_0    anaconda
umap-learn                0.5.6           py310h5588dad_0    conda-forge
urllib3                   1.26.18         py310haa95532_0    anaconda
utf8proc                  2.6.1                h2bbff1b_0    anaconda
validators                0.18.2             pyhd3eb1b0_0    anaconda
vc                        14.2                 h21ff451_1    anaconda
vc14_runtime              14.40.33810         ha82c5b3_20    conda-forge
vs2015_runtime            14.40.33810         h3bf8584_20    conda-forge
wasabi                    1.1.3                    pypi_0    pypi
watchdog                  2.1.6           py310haa95532_0    anaconda
wcwidth                   0.2.5              pyhd3eb1b0_0    anaconda
weasel                    0.4.1                    pypi_0    pypi
wheel                     0.41.2          py310haa95532_0    anaconda
widgetsnbextension        4.0.5           py310haa95532_0    anaconda
win_inet_pton             1.1.0           py310haa95532_0    anaconda
wordcloud                 1.9.2           py310h2bbff1b_0    anaconda
xxhash                    0.8.0                h2bbff1b_3    anaconda
xz                        5.4.2                h8cc25b3_0    anaconda
yaml                      0.2.5                he774522_0    anaconda
yarl                      1.8.1           py310h2bbff1b_0    anaconda
zeromq                    4.3.4                hd77b12b_0    anaconda
zipp                      3.11.0          py310haa95532_0    anaconda
zlib                      1.2.13               h8cc25b3_0    anaconda
zstd                      1.5.5                hd43e919_0    anaconda
